.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:  #FFC20E;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #282828;
  font-size: 24;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.App-body {
  background-color: #666;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}
