
.songListContainer {

    margin-top: 10px;
    /* width: 600px; */
    min-width: 75%; /* For mobile development, we don't want fixed width */
    max-width: 100%;
    min-height: 300px;
    background-color: #ddd;
    outline-style: solid;
    outline-width: 2px;
    outline-color: #111;

    text-align:left;
}

.songListTitle {
    background-color: #999;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: #333;
    padding: 4px;
}
  
.songListItem {
    position:relative;
    height:150px;
    width:100%;
    background-color: #ddd; /* White background */
    
    outline-style: solid;
    outline-width: 1px;
    outline-color: #111;
}

.songTitle {
    position:relative;
    left:10px;
    top:10px; 
    max-width:400px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-weight: bold; /* Make the title stand out */
    color: #333;
}

.songAlbum {
    position:relative;
    left:10px;
    top:10px; 

    font-size: 18px;
    color: #666; /* Subdued color for artist */
}

.songArtist {
    position:relative;
    left:10px;
    top:10px; 

    font-size: 18px;
    color: #666; /* Subdued color for artist */
}

.removeSongButton {
    position:absolute;
    right:2px;
    top:2px;
    width:48px;
    height:48px;

    cursor: pointer; 

    background-color: #d00;
    
    outline-style: solid;
    outline-color: #000;
    outline-width: 4;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-align:center;
    font-size: 40px;
    color: #000;
}

.removeSongButton:hover {
    background-color:#f00; /*lighter when hovering*/
}
.submitButton:active {
    background-color: #d00; /*dark again when clicked*/
}

.hostToolbar {
    margin-top: 10px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    
    outline-style: solid;
    outline-color: #000;
    outline-width: 4;
}

.hostToolButton {
    /* position:absolute; */
    /* right:2px;
    top:2px;
    width:48px;
    height:48px; */
    margin: 5px;

    cursor: pointer; 

    background-color: #FFC20E;
    
    outline-style: solid;
    outline-color: #000;
    outline-width: 4;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-align:center;
    font-size: 18px;
    color: #000;
}

.refreshButton {
    margin-top: 15px;
}

.hostToolButton:hover {
    background-color:#FFD31F; /*lighter when hovering*/
}
.hostToolButton:active {
    background-color: #FFB10D; /*dark again when clicked*/
}

.volumeSliderContainer {
    background-color: #555;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    outline-style: solid;
    outline-color: #000;
    outline-width: 4;
    
}

.volumeSlider {
    margin: 5px;

    cursor: pointer; 
    
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    text-align:center;
    font-size: 18px;
    color: #000;
}

.volumeImage {
    align-items: center;
    height: 27px; 
    width: auto;
}

.songCover {
    position: absolute;
    right: 5px;
    top:5px;
    width: auto;
    max-height: 140px;
}